html, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://i1.wp.com/www.zonienwoud.be/wp-content/uploads/2015/12/beukenkathedraal_2.jpg);
}

.tglbtn{
    height: 30px;
    width: 30px;
    position: relative;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.tglbtn span{
    height: 3px;
    background-color: rgb(255, 255, 255);
    width:100%;
    position: absolute;
    top: 20px;
    left: 0;
}

.tglbtn span:before{
    content: '';
    height: 3px;
    background-color: rgb(255, 255, 255);
    width:100%;
    position: absolute;
    top: -10px;
    left: 0;
}

.tglbtn span:after{
    content: '';
    height: 3px;
    background-color: rgb(255, 255, 255);
    width:100%;
    position: absolute;
    top: 10px;
    left: 0;
}

.menu{
height: 500px;
background-color:rgb(251, 251, 251);
width: 200px;
position: sticky;
top: 0;
}

.menu button{
    color: rgb(3, 3, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
    margin-top: 30px;
    text-decoration: none;
}

.nav{
    margin-left: -200px;
    transition-duration: 0.2s;
}

.nav_open{
    margin-left: 0px;
    transition-duration: 0.2s;
}

.idp .idmdp{
    float:right;
    padding-top: 10px;
}

.idmdp{
    width: 70%;
    display: flex;
}

.pre{
    display: flex;
    flex-wrap: wrap;
    float: right;
    position: sticky;
    top: 0;
    background-color: rgba(37, 28, 28, 0.746);
}

#np{
    width: 120px;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 1343px;
    color: rgb(255, 255, 255);
}

#redim {
    width: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

.cross{
    text-align: right;
}

.card{
    margin-top: -35%;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 10px;
    background-color: antiquewhite;
    
    
}

.card .lepost{
    text-align: center;
}

.comm{
    text-align: left;
    background-color: antiquewhite;
    margin-left: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
    
}
